<div>
  <aside>
    <div>
      <h3><%= @user.name %></h3>
    </div>
  </aside>
  <div>
    <ul>
      <li><a href="/" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Tasklist  <span class="badge badge-secondary"><%= @count_tasks %></span></a></li>
    </ul>
  </div>
</div>